<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand ;  pillow-btn" href="/">Django</a>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link  ; pillow-btn "  aria-current="page" href="{% url 'article:list' %}">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle ;  pillow-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Add Article
          </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'article:created' %}">Add Article</a></li>
                <hr>
                <li><a class="dropdown-item" href="{% url 'article:created-form' %}">Add Article Via Form</a></li>
            </ul>
        </li>
          <li class="nav-item">
          <a class="nav-link  ; pillow-btn "  aria-current="page" href="{% url 'recipe:list' %}">Recipes</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
          <a class="nav-link  ; pillow-btn "  aria-current="page" href="{% url 'recipe:my-list' %}">My Recipes</a>
          </li>
          {% endif %}

      </ul>
    </div>
      <div class="d-flex align-items-center gap-2">
          {% if request.user.is_authenticated %}
              <h4>{{ request.user.username }}/</h4>
              <a href="{% url 'auth:logout' %}" class="btn btn-outline-danger">Logout</a>
          {% else %}
              <a href="{% url 'auth:login' %}" class="btn btn-outline-info btn-lg">Login</a>
          {% endif %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
          </button>
      </div>
  </div>
</nav>